* {
    margin: 0; /* Встановлюємо відступ зовні (margin) на 0 для усунення стандартних відступів для всіх елементів */
    padding: 0; /* Встановлюємо внутрішні відступи (padding) на 0 для усунення стандартних відступів для всіх елементів */
    box-sizing: border-box; /* Враховуємо рамку та внутрішні відступи у загальну ширину та висоту елементів */
}

body {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт для всього документа */
    display: flex; /* Встановлюємо flex-контейнер */
    justify-content: center; /* Вирівнюємо контент по горизонталі по центру */
    align-items: center; /* Вирівнюємо контент по вертикалі по центру */
    height: 100vh; /* Встановлюємо висоту екрана на 100% висоти вікна перегляду */
    background-color: #f0f0f0; /* Встановлюємо фоновий колір для тіла документа */
}

.animated-box {
    width: 150px; /* Встановлюємо ширину блоку */
    height: 150px; /* Встановлюємо висоту блоку */
    background-color: #333; /* Встановлюємо фоновий колір для блоку */
    color: white; /* Встановлюємо колір тексту */
    display: flex; /* Встановлюємо flex-контейнер */
    justify-content: center; /* Вирівнюємо контент по горизонталі по центру */
    align-items: center; /* Вирівнюємо контент по вертикалі по центру */
    border-radius: 10px; /* Встановлюємо радіус закруглення кутів */
    opacity: 1; /* Встановлюємо початкову прозорість */
    animation: animateBox 2s infinite; /* Додаємо анімацію блоку з тривалістю 2 секунди та безкінечним повторенням */
}

@keyframes animateBox {
    0% {
        background-color: #333; /* Початковий фоновий колір */
        width: 150px; /* Початкова ширина */
        height: 150px; /* Початкова висота */
        opacity: 1; /* Початкова прозорість */
    }
    50% {
        background-color: #d54dff; /* Фоновий колір у середині анімації */
        width: 200px; /* Ширина у середині анімації */
        height: 200px; /* Висота у середині анімації */
        opacity: 0.5; /* Прозорість у середині анімації */
    }
    100% {
        background-color: #333; /* Кінцевий фоновий колір */
        width: 150px; /* Кінцева ширина */
        height: 150px; /* Кінцева висота */
        opacity: 1; /* Кінцева прозорість */
    }
}
